


<!-- Input mask -->
<!-- <mat-form-field class="example-full-width" style="padding: 12px;">
<input  matInput appCurrency="custom"  [(ngModel)]='testField' (blur)="onblur()"> 
</mat-form-field>
<div>
  Input 1: {{testField}}
</div>

<mat-form-field class="example-full-width" style="padding: 12px;">

<input  matInput  currencyMask  [(ngModel)]='testField2' (blur)="onblur2()">
</mat-form-field>

<div>
  Input 2: {{testField2}}
</div>

<mat-form-field>
  <mat-label>Choose an option</mat-label>
  <mat-select [disabled]="disableSelect.value">
    <mat-option value="option1">Option 1</mat-option>
    <mat-option value="option2" disabled>Option 2 (disabled)</mat-option>
    <mat-option value="option3">Option 3</mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field>
  <mat-select placeholder="Toppings" [formControl]="toppings" multiple>
    <mat-select-trigger>
      {{toppings.value ? toppings.value[0] : ''}}
      <span *ngIf="toppings.value?.length > 1" class="example-additional-selection">
        (+{{toppings.value.length - 1}} {{toppings.value?.length === 2 ? 'other' : 'others'}})
      </span>
    </mat-select-trigger>
    <mat-option *ngFor="let topping of toppingList" [value]="topping" [disabled]="topping == 'Mushroom'">{{topping}}</mat-option>
  </mat-select>
</mat-form-field> -->



<!-- <input inputMask mask='999-AAA' type='text' [(ngModel)]='inputMaskTesting'>

<div>
  {{inputMaskTesting}}
</div> -->





<form [formGroup]="insureForm">

  <!-- <mat-form-field appCurrency="custom" >
    <input id="myText" matInput placeholder="ll"
      autocomplete="PremiumAmount" appCurrency="custom" formControlName="PremiumAmount" >
  </mat-form-field> -->

  <mat-form-field  >
    <input id="myText" matInput 
      autocomplete="PremiumAmount" mask="separator.5" decimalMarker=','   thousandSeparator=" " restrict formControlName="PremiumAmount" >
  </mat-form-field>

  {{insureForm.value.PremiumAmount}}
</form>
<!-- <input type="text" mask="separator.10" thousandSeparator=" " /> -->
